.certification-section {
    padding: 20px;
    /* text-align: center; */
    font-family: Arial, sans-serif;
  }
  
  .certification-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #f27900;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .certification-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    width: 23%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #333;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
  }
  