.certified-container {
    display: flex;
    align-items: center;
    background: #FF651C;
    width: 65%;
    max-height: 400px;
    padding: 121.9px;
    color: #fff;
  }
  
  .certified-content {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    text-align: center;
  }

  .certified-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  
  .certified-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    width: 180%;
    font-family: 'Nunito-Sans';
  }
  
  .certified-content p {
    font-size: 1em;
    line-height: 1.6;
    width: 200%;
    font-family: 'Nunito-Sans';
  }
  
  .certified-image {
    display: flex;
    justify-content: center;
    width: 70%;
  }
  
  .certified-image img {
    width: 100%;
    max-height: 400px;
  }
  