.services-section {
  padding: 20px;
}

.services-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.content {
  padding-left: 40px;
}

.services-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #f97b22;
  margin: 5px auto 0;
}

.service-images {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.service-images img {
  width: calc(49% - 10px);
  height: 240px; 
  object-fit: cover;

}
